body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    background-image: url("images/xl-los-angeles-quote-wall-lounge.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  header {
    background-color: #bb3030;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  header nav {
    margin-right: 20px;
  }
  header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  header li {
    margin-left: 20px;
  }

  .container {
    display: flex;
  }
  .column {
    flex: 1;
    padding: 20px;
    margin-top: 30%;

  }
 
  .column:nth-child(odd) {
    background-color: #e4ee87cc;
    border: solid black 1px;
  }
  .column:nth-child(even) {
    background-color: #e4ee87cc;
    border: solid black 1px;
  }

  .footer{
    padding: 20px;
    background-color: black;
    color: white;
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
  }

  .staff-banner {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 5%;
    border: solid 1px white;
  }
  .staff-member {
    display: inline-block;
    margin: 10px;
  }
  .staff-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .staff-name {
    font-weight: bold;
  }
  .staff-position {
    font-style: italic;
  }

  .menu-icon {
    display: none;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }

  .centered-div {
    background-color: rgba(255, 255, 255);
    padding: 20px;
    max-width: auto;
    text-align: center;
    border: solid 2px black;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .contact-box {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;

  }

  .nav-links {
    display: none; 
    flex-direction: column;
    text-align: center;
    background-color: #444;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
  }

  .nav-links li {
    margin: 15px 0;
  }

  .nav-links li a {
    color: #fff;
  }

  .nav-links.show {
    display: flex;
  }
}